html {
  background-color:#270027;
}
h1 {
  color: #efbbff;
  color: black;
}
header {
  background-color:#400040;
}

.GameBox {
  background-color:#400040;
  color:#efbbff;
}
.GameUI{
  background-color:#730073;
} 
