html {
  background-color:#270027;
  color: white;
}
h1, h2 {
  color: #efbbff;
}
header {
  background-color:#400040;
}

.GameBox {
  background-color:#400040;
  color:#efbbff;
}
.GameUI{
  background-color:#730073;
} 
a:link {
  color: #a5a5d3;
}
a:visited {
  color: #cd9da6;
}
.leftThreeFourths {
  background-color:#7e0013;
}
.rightFourth {
  background-color:#253705;
}
