html {
  background-color:#bb8fce;
  color:#000000;
}
h1, h2 {
  color: #900C3F;
}
header {
  background-color:#d2b4de;
}

.GameBox {
  background-color:#d2b4de;
  color: black;
}
.GameUI{
  background-color:#f5eef8;
} 
