html {
  background-color:#bb8fce;
  color:#000000;
}
h1 {
  color: #900C3F;
}
h2 { 
  color: #a32a00;
}
header {
  background-color:#d2b4de;
}

.GameBox {
  background-color:#d2b4de;
  color: black;
}
.GameUI{
  background-color:#f5eef8;
} 
a:link {
  color: #43439b;
}
a:visited {
  color: #900c3f;
}
.leftThreeFourths {
  background-color:#ffd54d;
}
.rightFourth {
  background-color:#daf7a6;
}
