html {
  height: 100%;
  width: 100%;
  margin-left: 20px;
  background-color:#d2b4de;
}
hi {
  color: #900C3F;
}
h1, h2 {
  text-align: center;
}
.leftColumn {
  float: left;
  width: 75%;
}
.rightColumn {
  float: right;
  width: 25%
}
