html, embed {
  font-family: Ariel, "Comic Sans", sans-serif;
  height: 100%;
  width: 100%;
  margin-left: 20px;
}
body, a {
  font-size: 100%;
}
h1 {
  font-size: 2.5em;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 1.875em;
}
p {
  font-size: 1.125em;
}
img {
  width:50%
}
header {
  border-radius: 25px;
  padding: 10px;
}
.leftThreeFourths {
  border-top-left-radius:25px;
  border-bottom-left-radius: 25px;
  float: left;
  padding: 10px;
  width: calc(75% - 20px);
}
.rightFourth {
  border-top-right-radius:25px; 
  border-bottom-right-radius:25px;
  float: right;
  padding: 10px;
  width: calc(25% - 20px);
}
.leftFourth {
  border-top-left-radius:25px;
  border-bottom-left-radius: 25px;
  float: left;
  width: 25%;
}
.centerHalf {
  margin: auto;
  width: 50%
}
.GameBox {
  border-radius: 25px;
  margin: auto;
  width: 80%;
  padding: 10px;
}
.GameUI{                                                                
  border-radius: 25px;
  margin: auto;
  width: 75%;
  padding: 10px;
}


