html {
  height: 100%;
  width: 100%;
  margin-left: 20px;
  background-color:#bb8fce;
}
h1 {
  color: #900C3F;
}
h1, h2 {
  text-align: center;
}
header {
  border-radius: 25px;
  padding: 10px;
  background-color:#d2b4de;
}
.leftThreeFourths {
  border-top-left-radius:25px;
  border-bottom-left-radius: 25px;
  float: left;
  padding: 10px;
  width: calc(75% - 20px);
}
.rightFourth {
  border-top-right-radius:25px; 
  border-bottom-right-radius:25px;
  float: right;
  padding: 10px;
  width: calc(25% - 20px);
}
.leftFourth {
  border-top-left-radius:25px;
  border-bottom-left-radius: 25px;
  float: left;
  width: 25%;
}
.centerHalf {
  margin: auto;
  width: 50%
  background-color:#f5eef8;
}
.GameBox {
  border-radius: 25px;
  margin: auto;
  width: 80%;
  background-color:#d2b4de;
  padding: 10px;
}
.GameUI{                                                                
  border-radius: 25px;
  margin: auto;
  width: 75%;
  background-color:#f5eef8;
  padding: 10px;
}


