div.bar {
  background-color:firebrick;
  height:5%;
  min-width:5%;
  max-width:40%;
  float:left;
  position:absolute;
}
div.graph {
  background-color: azure;
  height:100%;
  width:50%;
  margin:auto;
  padding: 10px;                                                  
  border-radius: 25px; 
}
