div.box {
  float: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;  
}
.row {
  display: inline-block;
  border: 1px solid #ccc;
  overflow-wrap: break-word;
}

p {
  color : black
}
