:root {
  --color-1: white;
  --color-2: lavender;
  --color-3: black;
  --color-4: #C4002E;
}
body {
  background: var(--color-1);
  color: var(--color-3);
}
h1{
  color: var(--color-4);
}
.tile, .bigTile{
  color: var(--color-3);
  background: var(--color-2);
  border-radius:20px;
  padding:10px;
  text-align:center;
}

.flashcard{
  background: white;
  border: 2px solid black;
  border-radius:10px;
  padding:10px;
  text-align:center;
  width: 30%;
  margin: 0 auto;
}

.tile{
  width: 30%;
  height:30vh;
  position:relative;
  float:left;
}

.tile:hover{
  opacity:0.85;
}

.bigTile{
  width:95%;
}

.tile:after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 400px) {
  .tile, .flashCard {
    width: 100%;
  }
}
